body {
background-color: red; 
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
margin: 0; 
}

.box {
background-color: white;
width: 300px;
padding: 20px;
border: 5px solid yellow; 
text-align: center; 
}

button {
background-color: yellow;
font-size: 20px;
font-size: 20px;
cursor: pointer;
}